* {
    margin: 0;
    padding: 0;
}

.hero-page-wrapper {
    background-color: #1F2937;
}

.hero-page {
    width: 70%;
    margin: 0 auto;
    color: #f9faf8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7em;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 1em 0;
}

header > ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}



.hero-content {
    display: flex;
    /*align-items: flex-start;*/
    gap: 10%;
}

/* Left column hero section */

.left-column, .right-column {
    width: 50%;
}

.left-column {
    margin-top: 1em;
}

.left-column > .hero-text {
    font-size: 48px;
    font-weight: bold;
    max-width: 300px;
}

.left-column > .subtext {
    font-size: 18px;
}

.left-column > button {
    color: white;
    background-color: #3882f6;
    border: none;
    padding: .6em 2em;
    border-radius: 5px;
    font-weight: bold;
    margin-top: .7em;
}

.right-column > img {
    width: 100%;
    height: 300px;
}