* {
    margin: 0;
    padding: 0;
}

.hero-page-wrapper {
    background-color: #1F2937;
    height: 600px;
}

.hero-page {
    width: 70%;
    margin: 0 auto;
    color: #f9faf8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7em;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 1em 0;
}

header > ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/*hero section */

.hero-content {
    display: flex;
    /*align-items: flex-start;*/
    gap: 10%;
}


.left-column, .right-column {
    width: 50%;
}

.left-column {
    margin-top: 1em;
}

.left-column > .hero-text {
    font-size: 48px;
    font-weight: bold;
    max-width: 300px;
}

.left-column > .subtext {
    font-size: 18px;
}

.left-column > button {
    color: white;
    background-color: #3882f6;
    border: none;
    padding: .6em 2em;
    border-radius: 5px;
    font-weight: bold;
    margin-top: .7em;
}

.right-column > img {
    width: 100%;
    height: 300px;
}

/* Info page section */

.info-page-wrapper {
    height: 400px;
}

.info-page {
    width: 60%;
    margin: 0 auto;
    color: #1f2937;
}

.info-title {
    text-align: center;
    margin: 1em;
    font-size: 36px;
    font-weight: bold;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
}

.card {
    height: 200px;
    width: 200px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-text {
    text-align: center;
    color: rgb(83, 83, 83);
    font-weight: light;
}

/* Quote page section */


.quote-page-wrapper {
    height: 300px;
    background-color: rgb(181, 230, 230);
    display: flex;
    align-items: center;
    
}
.quote-page {
    width: 50%;
    margin: 0 auto;
}

.quote-page > .quote {
    font-weight: 200;
}

.quote-page > .quote-by {
    text-align: right;
}

/* cta page */

.cta-page-wrapper {

    height: 300px;
    color: white;
    display: flex;
    align-items: center;
}

.cta-page {
    width: 70%;
    margin: 0 auto;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.cta-text {
    padding: 3em 6em;
}

.cta-page > button {
    margin-right: 6em;
    color: white;
    border: solid 3px white;
    background-color: #3882f6;
    padding: .4em 2em;
    border-radius: 8px;
    font-weight: bold;
}

/* footer section */

footer {
    height: 80px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}